.firstp {
    text-align: center;
    background-color: rgb(214, 213, 119);
    height: 40px;
    width: 220px;
    box-sizing: border-box;
    display: block;
    margin: 8px auto;
}

body {
    background-color: blanchedalmond;
}

img {
    height: auto;
    width: 500px;
    margin: 0 auto;
    display: block;
}

.Description {
    text-align: center;
    background-color: rgb(201, 200, 152);
    height: 30px;
    width: 150px;
    box-sizing: border-box;
    display: block;
    margin: 8px auto;
}

.desChild {
    background-color: rgb(219, 219, 173);
    width: 500px;
    margin: 0px auto;
    padding: 0px 8px;
}